.content-area {
	float: left;
	width: 70%;
	margin-left: 15%;
    margin-right: 15%;
}

.site-content .widget-area {
	float: right;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
	padding-bottom: 80px;

}
@media(max-width: 767px){
	.content-area {
		width: 100%;
		margin: 0;
	}
}