.form-control {
	font-weight: 400;
	background-color: $color__white;
	width: 40%;
	height: 48px;
	padding: 8px 12px;
	transition: all .3s ease 0s;
}
.page-content .form-search .form-control,
.site-search .form-control {
}
