/* variables color */
:root {
	/* main color */
	--main-color: #00bff3;
	--text-main: #000000;
	--color__background-pre: #eee;
	--color__white: #fff;
	--color__white1: #f5f5f5;

	/*body style*/
	--body-font_family: "Poppins", sans-serif;
	--body-font_size: 20px;
	--font__quote: serif;
	/*main style h1*/
	--heading_1-font_family: "Poppins", sans-serif;
	--heading_1-font_size: 36px;
	--heading_1-font_style: normal;
	--heading_1-font_weight: 600;
	/*main style h2*/
	--heading_2-font_family: "Poppins", sans-serif;
	--heading_2-font_size: 30px;
	--heading_2-font_style: normal;
	--heading_2-font_weight: 200;
	/*main style h3*/
	--heading_3-font_family: "Poppins", sans-serif;
	--heading_3-font_size: 24px;
	--heading_3-font_style: normal;
	--heading_3-font_weight: 200;
	/*main style h4*/
	--heading_4-font_family: "Poppins", sans-serif;
	--heading_4-font_size: 1.25em;
	--heading_4-font_style: normal;
	--heading_4-font_weight: 200;
}
.editor-block-list__layout {
	color: var(--text-main);
	font-family: var(--body-font_family);
	font-size: var(--body-font_size);
	font-style: var(--body-font_style);
	font-weight: var(--body-font_weight);
	line-height: var(--body-line_height);
	letter-spacing: var(--body-letter_spacing);
	text-transform: var(--body-text_transform);
}
.editor-block-list__layout a,
.wp-block-freeform.block-library-rich-text__tinymce a {
	color: var(--main-color);
	text-decoration: none;
}
p.wp-block-subhead {
	color: var(--text-main);
}

.editor-block-list__layout h1,
.editor-block-list__layout h2,
.editor-block-list__layout h3,
.editor-block-list__layout h4,
.editor-block-list__layout h5,
.editor-block-list__layout h6 {
	/*font-family: 'Josefin Sans', sans-serif;*/
	color: var(--text-main);
}
.editor-block-list__layout h1 {
	/*font-size: 36px;*/
	font-family: var(--heading_1-font_family);
	font-size: var(--heading_1-font_size);
	font-style: var(--heading_1-font_style);
	font-weight: var(--heading_1-font_weight);
	line-height: var(--heading_1-line_height);
	letter-spacing: var(--heading_1-letter_spacing);
	text-transform: var(--heading_1-text_transform);
}
.editor-block-list__layout h2 {
	font-family: var(--heading_2-font_family);
	font-size: var(--heading_2-font_size);
	font-style: var(--heading_2-font_style);
	font-weight: var(--heading_2-font_weight);
	line-height: var(--heading_2-line_height);
	letter-spacing: var(--heading_2-letter_spacing);
	text-transform: var(--heading_2-text_transform);
}
.editor-block-list__layout h3 {
	font-family: var(--heading_3-font_family);
	font-size: var(--heading_3-font_size);
	font-style: var(--heading_3-font_style);
	font-weight: var(--heading_3-font_weight);
	line-height: var(--heading_3-line_height);
	letter-spacing: var(--heading_3-letter_spacing);
	text-transform: var(--heading_3-text_transform);
}
.editor-block-list__layout h4 {
	font-family: var(--heading_4-font_family);
	font-size: var(--heading_4-font_size);
	font-style: var(--heading_4-font_style);
	font-weight: var(--heading_4-font_weight);
	line-height: var(--heading_4-line_height);
	letter-spacing: var(--heading_4-letter_spacing);
	text-transform: var(--heading_4-text_transform);
}
.editor-block-list__layout h5 {
	font-size: 14px;
}
.editor-block-list__layout h6 {
	font-size: 12px;
	text-transform: uppercase;
}
.editor-block-list__layout p {
	font-size: var(--body-font_size);
}
.editor-block-list__layout ul {
	list-style: none;
}
.editor-block-list__layout ul ul,
.editor-block-list__layout ol ul {
	list-style: none;
}
.editor-block-list__layout ul li {
	position: relative;
}
.editor-block-list__layout pre {
	background: var(--color__background-pre);
	font-family: var(--body-font_family);
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

/* Main column width */
.wp-block {
    max-width: 650px;
    padding: 0;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 710px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.wp-block[data-align="full"] .editor-block-list__block-edit {
	margin-left: 0;
	margin-right: 0;
}
.wp-block-separator:not(.is-style-dots) {
	border-bottom: 1px solid #e2e2e2;
}
.wp-block .editor-block-list__block-edit {
	margin-left: 0;
	margin-right: 0;
}
.wp-block-button__link {
	border: 2px solid;
	border-color: var(--main-color);
	border-radius: 3px;
	background: var(--main-color);
	font-size: 16px;
	line-height: 1;
	padding: 16px 50px;
	color: var(--color__white);
	transition: all .3s ease 0s;
	font-weight: 600;
	position: relative;
	top: -2px;
}
.wp-block-button__link:hover {
	border-color: var(--text-main);
	background: var(--text-main);
	color: var(--color__white);
}
.is-style-outline .wp-block-button__link {
	background-color: var(--color__white);
	border: 2px solid var(--main-color);
	color: var(--main-color);
}
.is-style-outline .wp-block-button__link:hover {
	color: var(--color__white);
	background-color: var(--main-color);
}

/* Dropcap */
p.has-drop-cap:not(:focus):first-letter,
.dropcap {
	font-weight: 700;
	color: #fff;
	font-size: 48px;
	background: var(--main-color);
	float: left;
	padding: 6px 9px;
	text-transform: uppercase;
	line-height: 1;
	margin: 10px 12px 0 0;
}


/**
 * Color palette
 *
 */
.has-pale-pink-background-color {
	border: 2px solid #f78da7;
}
.has-pale-pink-background-color:hover {
	background: #fff !important;
	color: #f78da7;
	border-color: #f78da7;
}


.has-vivid-red-background-color {
	border: 2px solid #cf2e2e;
}
.has-vivid-red-background-color:hover {
	background: #fff !important;
	color: #cf2e2e;
	border-color: #cf2e2e;
}


.has-luminous-vivid-orange-background-color {
	border: 2px solid #ff6900;
}
.has-luminous-vivid-orange-background-color:hover {
	background: #fff !important;
	color: #ff6900;
	border-color: #ff6900;
}


.has-luminous-vivid-amber-background-color {
	border: 2px solid #fcb900;
}
.has-luminous-vivid-amber-background-color:hover {
	background: #fff !important;
	color: #fcb900;
	border-color: #fcb900;
}


.has-light-green-cyan-background-color {
	border: 2px solid #7bdcb5;
}
.has-light-green-cyan-background-color:hover {
	background: #fff !important;
	color: #7bdcb5;
	border-color: #7bdcb5;
}


.has-vivid-green-cyan-background-color {
	border: 2px solid #00d084;
}
.has-vivid-green-cyan-background-color:hover {
	background: #fff !important;
	color: #00d084;
	border-color: #00d084;
}


.has-pale-cyan-blue-background-color {
	border: 2px solid #8ed1fc;
}
.has-pale-cyan-blue-background-color:hover {
	background: #fff !important;
	color: #8ed1fc;
	border-color: #8ed1fc;
}


.has-vivid-cyan-blue-background-color {
	border: 2px solid #0693e3;
}
.has-vivid-cyan-blue-background-color:hover {
	background: #fff !important;
	color: #0693e3;
	border-color: #0693e3;
}


.has-very-light-gray-background-color {
	border: 2px solid #eee;
}
.has-very-light-gray-background-color:hover {
	background: #fff !important;
	color: #eee;
	border-color: #eee;
}


.has-cyan-bluish-gray-background-color {
	border: 2px solid #abb8c3;
}
.has-cyan-bluish-gray-background-color:hover {
	background: #fff !important;
	color: #abb8c3;
	border-color: #abb8c3;
}


.has-very-dark-gray-background-color {
	border: 2px solid #313131;
}
.has-very-dark-gray-background-color:hover {
	background: #fff !important;
	color: #313131;
	border-color: #313131;
}

/* Table */
.wp-block-table td {
	text-align: center;
	border: 1px solid #e2e2e2;
	color: #777780;
}

/* Blockquote */
.editor-block-list__layout blockquote {
	margin: 0;
	background: var(--color__white);
	color: var(--text-main);
	font-style: italic;
	line-height: 1.6;
	font-size: 20px;
	opacity: 0.8;
	position: relative;
	border-left: none;
	padding: 0;
}

.editor-block-list__layout blockquote:before {
	content: '';
	border-left: 4px solid var(--main-color);
	width: 100%;
	height: 100%;
	top: 0;
	left: -24px;
	position: absolute;
}

.editor-block-list__layout blockquote .wp-block-quote__citation {
	color: var(--main-color);
	margin-top: 15px;
	display: inline-block;
	font-size: 20px;
	font-style: italic;
}

.editor-block-list__layout blockquote strong {
	font-weight: 600;
}

.editor-block-list__layout .wp-block-quote.is-large,
.editor-block-list__layout .wp-block-quote.is-style-large {
	padding: 0;
}

/* Pull Quote */
.wp-block-pullquote {
	border: none;
	padding: 0;
	margin: 0;
}
.wp-block-pullquote blockquote>.block-editor-rich-text p {
	font-size: 20px;
}
.wp-block-pullquote .wp-block-pullquote__citation {
	color: var(--main-color);
	margin-top: 15px;
	display: inline-block;
	font-size: 20px;
	font-style: italic;
	text-transform: none;
}


.wp-block[data-align="full"] .wp-block-pullquote blockquote {
	padding: 90px 0 20px;
}

.wp-block-pullquote.alignleft blockquote {
	margin-right: 1.5em;
}

.wp-block-pullquote.alignright blockquote {
	margin-left: 1.5em;
}

/* Editor Classic */
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	border: none;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
	font-size: 32px;
	line-height: 1.2;
	margin-top: 0;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote cite {
	font-size: 16px;
	font-style: normal;
}
.wp-block-freeform.block-library-rich-text__tinymce .mce-item-table {
	border: 1px solid #e2e2e2;
	border-spacing: 0;
}
.wp-block-freeform.block-library-rich-text__tinymce .mce-item-table thead tr {
	background: #f3f5f8;
}
.wp-block-freeform.block-library-rich-text__tinymce .mce-item-table th {
	border: 1px solid #e2e2e2;
	font-weight: 400;
	color: #000;
	padding: 5px;
}
.wp-block-freeform.block-library-rich-text__tinymce .mce-item-table td {
	border: 1px solid #e2e2e2;
}