
/* blog */

.blog-title {
	font-weight: 200;
	@include font-size(4.2);
	color: $color__black;
	margin-top: 95px;
	margin-bottom: 50px;
	text-align: center;
}
.blog-description {
	max-width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 75px;
	font-weight: 400;
	@include font-size(2);
	color: $color__text-gray;
	text-align: center;
}
.archive-post {
	border: 1px solid #ebebeb;
	text-align: center;
	margin-bottom: 30px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	.image {
		position: relative;
		img {
			height: 240px;
			object-fit: cover;
			border-radius: 5px 5px 0px 0px;
		}
		i {
			position: absolute;
			bottom: -17px;
			left: 46%;
			padding: 6px;
			border: 1px solid #fff;
			border-radius: 100%;
			background: #fff;
			font-size: 18px;
		}
	}
}
.post-info {
	padding-left: 20px;
	padding-right: 20px;
	.post-info-name {
		margin-bottom: 5px;
		a {
			font-weight: 200;
			@include font-size(2);
			text-transform: uppercase;
			color: $color__black;
			&:hover {
				text-decoration: none;
				color: $color__link-hover;
			}
		}
	}
	.byline,
	.posted-on {
		text-transform: uppercase;
		font-weight: 400;
		@include font-size(1.1);
		margin-left: 17px;
		a {
			color: $color__text-gray;
		}
		&:hover a {
			text-decoration: none;
			color: $color__link-hover;
		}
	}
	> p {
		font-weight: 400;
		@include font-size(1.4);
		margin-bottom: 75px;
	}
	.post-continue {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 13px 17px;
		background-color: $color__background-a;
		text-transform: uppercase;
		font-weight: 400;
		@include font-size(1.2);
		color: $color__main;
	}
}
.sidebar {
	width: 68%;
	float: left;
}
.blog-grid {
	.widget-area {
		margin-top: 194px;
	}
}
@media (max-width: 991px) {
	.container .col-3 > * {
		width: 47%;
	}
	.section--archive-posts {
		.archive-post {
			img {
				width: 100%;
			}
		}
	}
	.blog-grid {
		.widget-area {
			margin-top: 0px !important;
		}
	}
}
@media (max-width: 574px) {
	.container .col-3 > * {
		width: 97%;
	}
	.container .col-2 > * {
		width: 97%;
	}
}

@import "bloglist.scss";