.footer-widgets {
	.container {
		display: flex;
		flex-flow: row wrap;
	}
}
.widget-footer {
	float: left;
	width: 25%;
	margin: 70px 0 70px;
	padding-right: 25px;
	&:nth-child(4) {
		padding-right: 0;
	}
	select {
		width: 100%;
	}
	.logo {
		display: inline-block;
		margin-bottom: 20px;
	}
	.widget-title {
		@include font-size(1.4);
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		display: inline;
		box-shadow: inset 0 -10px 0 rgba(0, 191, 243, 0.12);
	}
	ul {
		padding-left: 0;
		list-style: none;
		margin-left: 0px;
		margin-top: 23px;
		li {
			a {
				text-transform: uppercase;
				font-weight: 400;
				@include font-size(1.4);
				letter-spacing: 0.05em;
			}
		}
	}
	.textwidget {
		margin-top: 32px;
		p {
			font-weight: 400;
			@include font-size(1.4);
			color: rgba(0,0,0,0.8);
			line-height: 1.7;
			margin-bottom: 25px;
		}
		span {
			color: $color__main;
			font-weight: 400;
			@include font-size(1.4);
		}
		li {
			@include font-size(1.4);
			font-weight: 400;
			line-height: 2.3;
			letter-spacing: 0.05em;
			color: $color__main;
			margin-bottom: 3px;
		}
	}
}

.bottombar {
	text-align: center;
	span {
		font-weight: 400;
		@include font-size(1.4);
		background: #f2fcfe;
		padding: 5px 10px;
		opacity: 0.8;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		a {
			color: $color__black;
			&:hover {
				color: $color__main;
				text-decoration: none;
			}
		}

	}
	.jetpack-social-navigation {
		.menu {
			margin-top: 30px;
		}
		li {
			width: 50px;
			height: 50px;
			border: 1px solid #00bff3;
			padding: 16px 0px;
			border-radius: 100%;
			margin-right: 10px;
			&:hover {
				background-color: $color__border-button-hover;
				border-color: $color__border-button-hover;
				transition: all .3s ease 0s;

			}
			&:hover a {
				color: $color__white;
				transition: all .3s ease 0s;
			}
			a {
				padding: 13px 15px;
			}
		}

		.menu a[href*="facebook.com"]:before {
			content: "\f39e";
			@include fa-icon();
			@include font-size(1.8);
		}
		.menu a[href*="google.com"]:before {
			content: "\f0d5";
			@include fa-icon();
			@include font-size(1.8);
		}
	}
}

.scroll-to-top {
	border-radius: 100%;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 2;
	color: $color__white;
	display: block;
	z-index: 99;
	background: $color__main;
	border: 1px solid $color__main;
	transform: translate(0, 0);
	transition: all 0.3s ease;
	&:hover {
		background: $color__white;
		i {
			color: $color__main;
		}
	}
	&:focus {
		color: $color__white;
	}
	i {
		@include font-size(2);
		color: inherit;
	}
}

.scroll-to-top.hidden {
	transform: translate(0, 100px);
}

.jetpack-social-navigation .menu a:before {
	@include font-size(1.8);
}

@media (max-width: 991px) {
	.footer-widgets {
		padding-bottom: 40px;
		.container .widget-footer {
			width: 50%;
			margin-bottom: 0;
		}
	}
}

@media (max-width: 767px) {
	.footer-widgets .container .widget-footer {
		width: 100%;
		margin-top: 20px;
	}
}