.footer-widgets {
	.container {
		.widget-footer {
			width: 25%;
			margin: 70px 0 70px;
			padding-right: 25px;
			&:nth-child(4) {
				padding-right: 0;
			}
		}
	}
}
.widget-footer {
	float: left;
	select {
		width: 100%;
	}
	.logo {
		display: inline-block;
		margin-bottom: 20px;
	}
	.widget-title {
		@include font-size(1.4);
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 25px;
		margin-top: 15px;
		position: relative;
		display: inline-block;
		opacity: 0.8;
		letter-spacing: 0.05em;
		&:before {
			position: absolute;
			content: '';
			top: 53%;
			left: 0.5%;
			right: 0;
			bottom: 55px;
			background: #30d1f9;
			width: 99%;
			height: 30%;
			z-index: -1;
			opacity: 0.12;
		}
	}
	ul {
		padding-left: 0;
		list-style: none;
		margin-left: 0px;
		li {
			a {
				text-transform: uppercase;
				font-weight: 400;
				@include font-size(1.4);
				letter-spacing: 0.05em;
			}
		}
	}
	.textwidget {
		p {
			font-weight: 400;
			@include font-size(1.4);
			opacity: 0.8;
		}
		span {
			color: $color__main;
			font-weight: 400;
			@include font-size(1.4);
		}
	}
}
.jetpack_subscription_widget {
	.widget-title {
		margin-left: 35%;
	}
	div > p {
		text-align: center;
		font-weight: 400;
		@include font-size(1.4);
		margin-bottom: 24px;
		opacity: 0.8;
	}
	input[type="email"] {
		width: 88% !important;
		padding: 6px 60px;
		margin-left: 7%;
		font-weight: 400;
		@include font-size(1.4);
	}
	input[type="submit"] {
		border-radius: 100px;
		padding: 11px 27px;
		margin-left: 26%;
		text-transform: uppercase;
		margin-top: -10px;
		@include font-size(1.4);
		box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.1);
	}
}
.bottombar {
	text-align: center;
	span {
		font-weight: 400;
		@include font-size(1.4);
		text-transform: uppercase;
		background: #f2fcfe;
		padding: 5px 10px;
		opacity: 0.8;
		letter-spacing: 0.05em;

	}
	.share {
		margin-top: 30px;
		i {
			border: 1px solid #00bff3;
			padding: 10px 10px;
			border-radius: 100%;
			color: #00bff3;
			margin-right: 14px;
			width: 41px;
			height: 39px;
			@include font-size(1.8);
			&:hover {
				background-color: $color__border-button-hover;
				border-color: $color__border-button-hover;
				color: $color__white;
			}
		}
	}
}

.scroll-to-top {
	border-radius: 100%;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: $color__white;
	display: block;
	z-index: 99;
	background: $color__main;
	border: 1px solid $color__main;
	transform: translate(0, 0);
	transition: all 0.3s ease;
	&:hover {
		background: $color__white;
		i {
			color: $color__main;
		}
	}
	&:focus {
		color: $color__white;
	}
	i {
		@include font-size(2);
		color: inherit;
	}
}

.scroll-to-top.hidden {
	transform: translate(0, 100px);
}

@media (max-width: 991px) {
	.footer-widgets {
		padding-bottom: 40px;
		.container .widget-footer {
			width: 50%;
			margin-bottom: 0;
		}
	}
}

@media (max-width: 767px) {
	.footer-widgets .container .widget-footer {
		width: 100%;
		margin-top: 20px;
	}
	.jetpack_subscription_widget {
		.widget-title {
			text-align: inherit;
		}
		div > p {
			text-align: inherit;
		}
		input[type="email"] {
			width: 100% !important;
			margin-left: 0;
			padding: 6px 20px;
		}
		input[type="submit"] {
			width: 100%;
			margin-left: 0;
		}
	}
}