.site {
	transition: all 0.3s ease;
}

.site-header {
	.header-content > .container {
		padding-top: 68px;
		padding-bottom: 68px;
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
		position: relative;
		transition: all 0.3s ease;
	}
}

.site-branding {
	align-self: center;

	img {
		transition: all 0.3s;
	}
}

.site-logo {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	.site-title {
		@include font-size(2.1);
		font-weight: 700;
		margin: 0 0 2px;
		word-wrap: break-word;
		a {
			color: $color__black;
			font-weight: 300;
			font-size: 36px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.site-description {
		margin: 0;
		word-wrap: break-word;
		font-weight: 400;
		@include font-size(1.4);
		text-transform: uppercase;
		padding-top: 11px;
		opacity: 0.5;
		letter-spacing: 0.1em;
	}
}

.custom-logo-link {
	margin-bottom: 0;
	margin-right: 60px;
}

.site-identify {
	flex: 1;
	line-height: 1.2;
}

.site-address {
	width: 220px;
	border-left: 1px solid #ebebeb;
	height: 73px;
	margin-top: 3px;
	padding-left: 20px;
	i {
		font-size: 24px;
		color: $color__main;
		float: left;
		margin-top: -4px;
	}
	.address {
		font-weight: 600;
		@include font-size(1.1);
		text-transform: uppercase;
		margin-top: -8px;
		color: $color__black;
		margin-left: 37px;
	}
	p {
		margin-bottom: 0;
	}

}
.header-info {
	margin-left: 20px;
	margin-top: 10px;
	i {
		font-size: 24px;
		color: $color__main;
		float: left;
		margin-top: -4px;
	}
	.address {
		font-weight: 600;
		@include font-size(1.1);
		text-transform: uppercase;
		color: $color__black;
		margin: 0;
		margin-left: 41px;
	}
}
.site-info {
	width: 200px;
	border-left: 1px solid #ebebeb;
	.site-phone {
		height: 33px;
		border-bottom: 1px solid #ebebeb;
	}
	.site-email {
		height: 33px;
	}
}

.collapse {
	display: none;
}

.header-content {
	background: $color__white;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

}

@media(max-width: 991px) {
	.main-navigation {
		display: none;
	}
	.site-address {
		display: none;
	}
	.site-info {
		display: none;
	}
	.menu-toggle {
		display: block;
		border-radius: 100px;
		padding: 0px 20px;
		background-color: $color__main;
		color: $color__white;
		&:hover {
			background-color: $color__main;
		}
		&:focus {
			background-color: $color__main;
			outline: none;
		}
	}
}

@media(max-width: 767px) {
	.site-search {
		margin-left: 20px;
	}
	.custom-logo-link {
		line-height: 46px;
		img {
			max-height: 46px;
		}
	}
	.site-logo .site-title {
		margin: 0;
	}
	.site-search {
		line-height: 60px;
		.site-search-toggler {
			height: 40px;
			line-height: 37px;
		}
	}
	.menu-toggle {
		line-height: 38px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0 12px;
		&::before {
			@include font-size(2);
		}
	}
	.site-logo {
		.site-description {
			display: none;
		}
	}
}

@media ( max-width: 575px) {
	.site-search {
		margin-left: 10px;
	}
}

@media ( max-width: 480px ) {
	.site-logo {
		flex-direction: column;
	}
	.custom-logo-link {
		margin: 0;
	}
}
