.section--title {
	font-weight: 200;
	@include font-size(4.2);
}


/* Services*/

@import "home/services";

/* Contact */
@import "home/contact";

/* Feature page 1 */
@import "home/features-page-1";

/* Feature page 2 */
@import "home/features-page-2";

/* testimonial */
@import "home/testimonial";

/* Feature page 3 */
@import "home/features-page-3";

/* Call to action */
@import "home/cta";