/* bloglist */

.section--archive-posts {
	article {
		margin-bottom: 75px;
		word-wrap: break-word;
	}
	.entry-title {
		text-align: center;
		margin-bottom: 15px;
		position: relative;
		&:before {
			content: '';
			width: 30px;
			height: 4%;
			position: absolute;
			top: -40px;
			left: 47%;
			z-index: -1;
			background-color: $color__main;
		}
		a {
			font-weight: 200;
			@include font-size(3.6);
			color: $color__black;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			line-height: 48px;
			position: relative;
			&:hover {
				color: $color__link-hover;
				text-decoration: none;
			}
			&:active,
			&:focus {
				text-decoration: none;
			}

		}
	}
	.entry-content {
		margin-top: 30px;
		p {
			opacity: 0.7;
			margin-bottom: 22px;
			word-wrap: break-word;
		}
		img {
			border: 9px solid #fff;
			box-shadow: 1px 0 36px rgba(0,0,0,0.15);
		}
		input {
			height: 52px;
		}
		ol {
			margin: 0;
		}
	}
	.post-thumbnail {
		position: inherit;
		z-index: 0;
		img {
			height: auto;
			min-height: 400px;
		}
	}
}
.entry-meta-blog {
	text-align: center;
	a {
		font-weight: 400;
		@include font-size(1.4);
		text-transform: uppercase;
		opacity: 0.6;
		letter-spacing: 0.05em;
		color: $color__black;
		&:hover {
			color: $color__link-hover;
		}
	}
	.byline {
		margin-right: 25px;
		&::before {
			content: '\f007';
			@include fa-icon();
			color: $color__main;
			@include font-size(1.4);
			margin-right: 3px;
		}
	}
	.posted-on {
		&::before {
			content: '\f017';
			@include fa-icon();
			color: $color__main;
			@include font-size(1.4);
			margin-right: 5px;
		}
	}
}

.post-category {
	font-weight: 400;
	@include font-size(1.4);
	margin-right: 15px;
	a {
		margin-right: 5px;
		color: $color__black;
		opacity: 0.7;
		text-decoration: none;
		padding-bottom: 8px;
		background-image: linear-gradient(#000,#bcbbbb);
		background-repeat: no-repeat;
		background-size: 100% 1.5px;
		background-position: center bottom 29%;
		background-origin: padding-box;
		text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
		transition: color .1s ease-out;
		display: inline-block;
		&:hover {
			color: $color__link-hover;
			background-image: linear-gradient(#00bff3,#00bff3);
		}
		&:after {
			content: ',';
		}
	}
	a:last-child {
		&:after {
			content: '';
		}
	}
	&::before {
		content: '\f07c';
		@include fa-icon();
		color: $color__main;
		@include font-size(1.6);
		margin-right: 15px;
	}
}
.post-tag {
	font-weight: 400;
	@include font-size(1.4);
	color: $color__text-gray;
	a {
		margin-right: 5px;
		color: $color__black;
		opacity: 0.7;
		text-decoration: none;
		padding-bottom: 8px;
		background-image: linear-gradient(#000,#bcbbbb);
		background-repeat: no-repeat;
		background-size: 100% 1.5px;
		background-position: center bottom 29%;
		background-origin: padding-box;
		text-shadow: 3px 0 #fff, 2px 0 #fff, 1px 0 #fff, -1px 0 #fff, -2px 0 #fff, -3px 0 #fff;
		transition: color .1s ease-out;
		display: inline-block;
		&:hover {
			color: $color__link-hover;
			background-image: linear-gradient(#00bff3,#00bff3);
		}
		&:after {
			content: ',';
		}

	}
	a:last-child {
		&:after {
			content: '';
		}
	}
	&::before {
		content: '\f292';
		@include fa-icon();
		color: $color__main;
		@include font-size(1.6);
		margin-right: 15px;
	}
}
.list-sidebar,
.archive,
.blog {
	.section--archive-posts {
		.post-thumbnail {
			height: auto;
		}
	}
	.no-sidebar {
		width: 100%;
		max-width: 840px;
		margin: auto;
		float: none;
	}
}
.list-sidebar,
.archive,
.blog,
.search {
	main {
		width: 65%;
		float: left;
	}
}
@media (max-width: 991px) {
	.list-sidebar,
	.archive {
		main {
			width: 100%;
		}
	}
	.site-content .widget-area {
		width: 100%;
		margin-top: 0;
	}
}
@media (max-width: 767px) {
	.section--archive-posts {
		.entry-title {
			a {
				@include font-size(2.7);
			}
		}
		.entry-content {
			p,
			li {
				@include font-size(1.5);
			}
		}
	}
}
@media (max-width: 574px) {
	.section--archive-posts {
		ul {
			margin: 0;
		}
		.post-thumbnail {
			img {
				min-height: 180px;
			}
		}
	}
}
