h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__heading;
	word-wrap: break-word;
}

h1 {
	@include font-size(5);
}

h2 {
	@include font-size(4);
	line-height: 1.2;
	font-weight: 200;
}

h3 {
	@include font-size(3);
	line-height: 1.4;
	font-weight: 200;
}

h4 {
	@include font-size(2);
	line-height: 1.4;
	font-weight: 200;
}

h5 {
	@include font-size(1.6);
	line-height: 1.5;
	font-weight: 400;
}

h6 {
	@include font-size(1.4);
	line-height: 1.7;
	font-weight: 400;
}
@media (max-width: 767px) {
	h2 {
		@include font-size(3);
	}
	h3 {
		@include font-size(2);
	}
}