.error-404 {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 40px;
	h2 {
		font-weight: 400;
	}
	.go-back-home {
		padding: 11px 30px;
		margin-top: 50px;
		&:hover {
			text-decoration: none;
		}
	}
}
