.section--cta {
	text-align: center;
	clear: both;
	background: #666 url(images/bg-cta.jpg) center center no-repeat;
	background-size: cover;
}
.section-cta__subtitle {
	font-weight: 400;
	@include font-size(1.6);
	text-transform: uppercase;
	padding-top: 90px;
	padding-bottom: 5px;
	letter-spacing: 0.05em;
	opacity: 0.5;
	margin: 0;
}
.section-cta__title {
	@include box-shadow-title();
}
.section-cta__link {
	margin-top: 40px;
	padding-bottom: 120px;
	a {
		@include font-size(1.6);
		letter-spacing: 0.05em;
		&:hover {
			text-decoration: none;
		}
	}
}

@media (max-width: 480px) {
	.section-cta__subtitle {
		padding-top: 40px;
	}
	.section-cta__title {
		@include font-size(2.9);
	}
	.section-cta__link {
		padding-bottom: 50px;
	}
}
