.features-page-2 {
	position: relative;
	.page-2 {
		width: 45%;
		display: inline-block;
		margin-right: 85px;
		padding-bottom: 180px;
		p {
			font-weight: 400;
			@include font-size(1.7);
			display: inline;
		}
	}
	.page-2__continue {
		text-transform: uppercase;
		font-weight: 600;
		@include font-size(1.7);
		margin-left: 10px;
		&:after {
			content: '\f0da';
			@include fa-icon();
			margin-left: 8px;
		}
	}
	.page-2__name {
		font-weight: 200;
		@include font-size(4.2);
		padding-top: 160px;
	}
	img {
		width: 47%;
		object-fit: cover;
		border: 7px solid #fff;
		box-shadow: 0 0 25px grey;
		margin-top: -170px;

	}
}
@media (max-width: 1279px) {
	.features-page-2 {
		img {
			width: 42%;
		}
	}
}
@media (max-width: 991px) {
	.features-page-2 {
		.page-2 {
			width: 98%;
			margin-left: 2%;
			display: block;
			margin-bottom: 40px;
		}
		.page-2__name {
			padding-top: 40px;
		}
		img {
			width: 94%;
			margin-left: 2%;
			margin-bottom: 60px;
		}
	}
}