.featured-page-1 {
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	.featured-page {
		max-width: 470px;
		display: inline-block;
		margin-left: 55%;
		padding-bottom: 105px;
		position: relative;
		z-index: 1;
		&:before {
			content: 'D';
			position: absolute;
			top: -127px;
			left: 116px;
			right: 0;
			bottom: 0;
			width: 0;
			height: 0;
			z-index: -1;
			opacity: 0.05;
			@include font-size(40);
			font-weight: 100;
			color: $color__black;

		}
	}
	.featured-page__title {
		margin-top: 115px;
		margin-bottom: 25px;
	}

	p {
		font-weight: 400;
		@include font-size(1.7);
		display: inline;
		line-height: 32px;
		opacity: 0.8;
	}
	.featured-page__continue {
		text-transform: uppercase;
		font-weight: 600;
		@include font-size(1.7);
		margin-left: 10px;
		letter-spacing: 0.05em;
		&:after {
			content: '\f0da';
			@include fa-icon();
			margin-left: 8px;
		}
	}
}

.featured-page__title {
	h3 {
		@include box-shadow-title();
	}
}
@media (max-width: 991px) {
	.featured-page-1 {
		.featured-page {
			max-width: 100%;
			text-align: center;
			margin-left: 0;
			&:before {
				display: none;
			}
		}
	}
}

@media (max-width: 480px) {
	.featured-page-1 {
		.featured-page__title {
			margin-top: 30px;
			h3 {
				@include font-size(3.2);
			}
		}
		.featured-page {
			padding-bottom: 45px;
		}
		p {
			@include font-size(1.4);
		}
		.featured-page__continue {
			@include font-size(1.5);
		}
	}
}