.featured-page-3 {
	position: relative;
	padding-bottom: 103px;
	.page-3 {
		width: 43%;
		display: inline-block;
		margin-left: 60px;
		float: right;
		position: relative;
		p {
			font-weight: 400;
			@include font-size(1.7);
			display: inline;
			line-height: 32px;
			opacity: 0.8;
		}
		&:before {
			content: 'O';
			position: absolute;
			top: -41px;
			left: 105px;
			right: 0;
			bottom: 0;
			width: 0;
			height: 0;
			z-index: -1;
			opacity: 0.05;
			@include font-size(40);
			font-weight: 100;
			color: $color__black;

		}
	}
	.page-3__continue {
		text-transform: uppercase;
		font-weight: 600;
		@include font-size(1.7);
		letter-spacing: 0.05em;
		margin-left: 10px;
		&:after {
			content: '\f0da';
			@include fa-icon();
			margin-left: 8px;
		}
	}
	.page-3__name {
		font-weight: 200;
		@include font-size(4.2);
		padding-top: 160px;
		z-index: 1;
		display: inline-block;
		position: relative;
		margin-bottom: 25px;
		&:before {
			position: absolute;
			content: '';
			top: 92%;
			left: 0.5%;
			right: 0;
			bottom: 55px;
			background: $color__background-title;
			width: 100%;
			height: 12%;
			z-index: 2;
			opacity: 0.12;
		}
	}
	img {
		width: 50%;
		max-height: 357px;
		object-fit: cover;
		border: 7px solid #fff;
		box-shadow: 0 0 25px grey;
		margin-top: 100px;
	}
}
@media (max-width: 1279px) {
	.featured-page-3 {
		img {
			width: 45%;
		}
	}
}
@media (max-width: 1023px) {
	.featured-page-3 {
		.page-3__name {
			padding-top: 90px;
		}
	}
}
@media (max-width: 991px) {
	.featured-page-3 {
		.page-3 {
			width: 97%;
			display: block;
			margin-bottom: 40px;
			&:before {
				display: none;
			}
		}
		.page-3__name {
			padding-top: 40px;
		}
		img {
			width: 94%;
			margin-left: 3%;
		}
	}
}