.section--services {
	margin-bottom: 90px;
	.services--title {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 16px;
		font-weight: 200;
		@include font-size(4.2);
	}
	.row {
		justify-content: space-between;
	}
	.col-3 > * {
		width: 32%;
		margin-left: 0;
		margin-right: 0;
	}
}
.section-service__item {
	text-align: center;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	padding-bottom: 30px;
	transition: all 0.3s;
	&:hover {
		transform: translateY(-6px);
		box-shadow: 0 12px 24px rgba(0,0,0,0.3), 0 10px 10px rgba(0,0,0,0.2);
		transition: all 0.3s;
	}
}
.section-service__thumbnails {
	img {
		height: 240px;
		object-fit: cover;
		border-radius: 5px 5px 0px 0px;
	}
}
.section-service__info {
	padding-left: 41px;
	padding-right: 41px;
	p {
		font-weight: 400;
		@include font-size(1.6);
		margin-bottom: 16px;
		margin-top: 0;
		line-height: 1.5;
		opacity: 0.8;
		font-family: $font__content-services;
	}
}
.section-service__title {
	font-weight: 400;
	@include font-size(1.6);
	text-transform: uppercase;
	margin-top: 35px;
	margin-bottom: 16px;
	a {
		color: $color__black;
		letter-spacing: 0.05em;
		&:hover {
			text-decoration: none;
			color: $color__link-hover;
		}
	}
}
.section-service__continue {
	text-transform: uppercase;
	font-weight: 600;
	@include font-size(1.4);
	letter-spacing: 0.05em;
}

@media (max-width: 991px) {
	.section-service__thumbnails {
		img {
			width: 100%;
		}
	}
	.section-service__item {
		margin-bottom: 30px;
	}
}

@media (max-width: 480px) {
	.section--services {
		margin-bottom: 20px;
		.section--title {
			@include font-size(3.2);
			padding-top: 0;
		}
		.section-service__info {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}