$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fff;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-a: #f2fcfe;
$color__background-widget: #fff;
$color__background-title: #30d1f9;

$color__text-screen: #21759b;
$color__text-input: #585858;
$color__text-input-focus: #585858;
$color__link: #00bff3;
$color__link-visited: purple;
$color__link-hover: #00bff3;
$color__text-main: #585858;
$color__text-gray: #a3a3a3;

$color__border-button: #00bff3;
$color__border-button-hover: #000000;
$color__border-button-focus: #00bff3;
$color__border-input: #cccccc;
$color__border-input-focus: #666666;
$color__border-abbr: #666;
$color__border: #ebebeb;
$color__white: #fff;
$color__black: #000;
$color__main: #00bff3;
$color__main-hover: #000000;
