.pagination {
	text-align: center;
	margin-top: 55px;
	margin-bottom: 170px;
	.nav-links {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	.nav-links > * {
		border: 2px solid $color__border;
		padding: 10px 30px;
		border-radius: 50px;
		text-transform: uppercase;
		font-weight: 600;
		@include font-size(1.6);
		color: $color__black;
		margin-right: 5px;
		opacity: 0.8;
		letter-spacing: 0.05em;
		margin-bottom: 15px;
	}
	a:hover {
		color: $color__link-hover;
		text-decoration: none;
		border-color: $color__main;
	}
}
.pagination.pagination .current {
	color: $color__main;
	border-color: $color__main;
}
.posts-navigation,
.post-navigation {
	word-wrap: break-word;
	a {
		&:hover {
			text-decoration: none;
		}
	}
	.meta-nav {
		@include font-size(1.4);
		margin: 0 0 20px;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		line-height: 1.7;
		letter-spacing: 0.1em;
		font-weight: 400;
		color: $color__black;
		text-transform: uppercase;
	}
	.post-title {
		@include font-size(2.1);
		margin: 0;
		word-wrap: break-word;
		font-weight: 400;
		color: $color__main;
		transition: all 0.3s;
		line-height: 1.5;
	}
	.infinite-scroll & {
		display: none;
	}
}

.posts-navigation {
	margin-top: 34px;
	.nav-links a {
		color: $color__black;
	}
}
@media (max-width: 991px) {
	.pagination {
		margin-bottom: 70px;
	}
	.nav-previous.nav-previous,
	.nav-next.nav-next {
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.nav-previous + .nav-next {
		padding-top: 20px;
		margin-top: 20px;
		padding-left: 0;
		width: 100%;
		border-top: 1px dashed #dedede;
	}
}
@media (max-width: 574px) {
	.pagination {
		.nav-links > * {
			padding: 5px 13px;
		}
	}
}
