/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,

/* Older / Newer Posts Navigation (always hidden) */

.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
	display: block;
}
.grid-sidebar {
	.infinite-wrap {
		width: 100% !important;
		margin-right: 0 !important;
		display: flex;
		flex-flow: row wrap;
	}
}


.site #infinite-handle {
	margin-bottom: 100px;
	text-align: center;
	span {
		background: unset;
		padding: 0;
		button,
		button:hover,
		button:focus {
			border: 2px solid;
			border-color: $color__main;
			background: $color__main;
			@include font-size(1.4);
			font-weight: 700;
			line-height: 1;
			padding: 12px 30px;
			border-radius: 26px;
			color: $color__white;
			-moz-transition: all .3s ease 0s;
			transition: all .3s ease 0s;
			text-transform: uppercase;
			line-height: (20/14);
			outline: none;
			&:hover {
				background: $color__white;
				color: $color__main;
			}
		}
	}
}
body #infinite-footer{
	background: $color__black;
	padding: 13px 0;
	.container {
		width:100%;
		background: none;
		border:none;
		padding: 0;
	}
	.blog-info a, .blog-credits a{
		color: $color__white;
		&:hover {
			color: $color__main;
			text-decoration: underline;
		}
	}
	.blog-credits {
		color: $color__main;
	}
}