.breadcrumb {
	padding: 0;
}

.page-header {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	height: 360px;
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	flex-flow: column;
	justify-content: center;
	position: relative;
	word-break: break-word;
	background: #f2fcfe;
	max-height: 430px;

	.page-title {
		@include font-size(6);
		font-weight: 200;
		margin-bottom: .625rem;
		margin-top: -8px;
		z-index: 3;
		color: $color__white;
		position: absolute;
		max-width: 70%;
		&:before {
			position: absolute;
			content: '';
			top: 53%;
			left: 0.5%;
			right: 0;
			bottom: 55px;
			background: $color__white;
			width: 99%;
			height: 75%;
			z-index: -1;
			opacity: 0.12;
		}
	}
	.title-black {
		color: $color__black;
		&:before {
			position: absolute;
			content: '';
			top: 53%;
			left: 0.5%;
			right: 0;
			bottom: 55px;
			background: #30d1f9;
			width: 99%;
			height: 75%;
			z-index: -1;
		}
	}
}
span a:hover,
a:hover {
	color: $color__link-hover;
}
.post-thumbnail {
	width: 100%;
	img {
		height: 360px;
		object-fit: cover;
		width: 100%;
	}
}



.breadcrumb-item {
	display: inline;
	+ .breadcrumb-item::before {
		content: '/';
		@include font-size(1.2);
		padding-left: .625rem;
		padding-right: .625rem;
	}
}

.breadcrumb * {
	color: $color__white;
}
.entry-meta {
	border:1px solid #ebebeb;
	border-radius: 100px;
	background:  $color__white;
	padding: 0px 25px;
	position: absolute;
	bottom: -18px;
	text-align: center;
	a {
		font-weight: 400;
		@include font-size(1.4);
		text-transform: uppercase;
		opacity: 0.6;
		letter-spacing: 0.05em;
		color: $color__black;
		&:hover {
			color: $color__link-hover;
		}
	}
	.byline {
		margin-right: 25px;
		&::before {
			content: '\f007';
			@include fa-icon();
			color: $color__main;
			@include font-size(1.4);
			margin-right: 3px;
		}
	}
	.posted-on {
		&::before {
			content: '\f017';
			@include fa-icon();
			color: $color__main;
			@include font-size(1.4);
			margin-right: 5px;
		}
	}
}

@media(max-width: 767px) {
	.page-header {
		.page-title {
			@include font-size(3);
		}
	}
}
