.breadcrumb {
	padding: 0;
}
.page-header {
	text-align: center;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	position: relative;
	word-break: break-word;
	background: #f2fcfe;
	z-index: 0;
	height: 470px;
	.title {
		z-index: 1;
		max-width: 70%;
		.page-title {
			@include font-size(6);
			font-weight: 200;
			line-height: 1.5;
			z-index: 0;
			color: $color__white;
			margin-top: 190px;
			margin-bottom: 190px;
			display: inline;
			box-shadow: inset 0 -41px 0 rgba(255, 255, 255, 0.12);
		}
		.title-black {
			color: $color__black;
			display: inline;
			box-shadow: inset 0 -41px 0 rgba(0, 191, 243, 0.12);
			margin-top: 80px;
			margin-bottom: 80px;
		}
	}
}
.page-header.no-thumbnail {
	height: 250px;
}
span a:hover,
a:hover {
	color: $color__link-hover;
}

.breadcrumb-item {
	display: inline;
	+ .breadcrumb-item::before {
		content: '/';
		@include font-size(1.2);
		padding-left: .625rem;
		padding-right: .625rem;
	}
}

.breadcrumb * {
	color: $color__white;
}

@media(max-width: 767px) {
	.page-header {
		.title {
			.page-title {
				@include font-size(3);
				box-shadow: inset 0 -20px 0 rgba(255, 255, 255, 0.12) !important;
			}
			.title-black {
				box-shadow: inset 0 -20px 0 rgba(0, 191, 243, 0.12) !important;

			}
		}
	}
}
@media(max-width: 320px) {
	.entry-meta {
		a {
			@include font-size(1.1);
		}
	}
}
