.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.post-content.post-content p {
	color: rgba(0,0,0,0.7);
	margin-bottom: 35px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
	display: none;
}
.pagelink {
	text-transform: uppercase;
	span {
		color: $color__main;
		margin-left: 15px;
	}
}
.pagelink p > span {
	background: rgba(0,191,243,0.15);
	padding: 5px 16px;
	border-radius: 100%;
}
.post-nav {
	.container {
		max-width: 840px;
	}
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background: rgba(0, 191, 243, 0.08);
	.post-navigation {
		position: relative;
		padding-top: 50px;
		padding-bottom: 60px;
		a {
			font-weight: 400;
			@include font-size(2.1);
		}
	}
}
.author_bio_section {
	.container {
		max-width: 840px;
		display: flex;
	}
	background: rgba(0,191,243,0.08);
	padding: 15px;
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	margin-top: 70px;
}
.entry-author {
	width: 57%;
	.author-avatar {
		float: left;
		margin-top: 25px;
		img {
			border-radius: 100%;
			width: 65px;
			height: 65px;
		}
	}
	.author-heading {
		margin-top: 10px;
		float: right;
		width: calc( 100% - 100px);
		.author-title {
			@include font-size(1.4);
			font-weight: 400;
			line-height: 1.7;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}
	}
	.author-bio {
		float: right;
		width: calc( 100% - 100px);
		@include font-size(1.4);
		line-height: 1.7;
		font-weight: 400;
		margin-top: 0;
		.author-link {
			display: block;
			@include font-size(1.2);
			line-height: 2;
		}
	}
}
.category-tag {
	width: 39%;
	margin-left: 35px;
	margin-top: 30px;
	.post-category {
		display: block;
	}
}
.entry-content {
	margin-top: 40px;
	word-wrap: break-word;
	li {
		color: rgba(0,0,0,0.8);
	}
	p {
		color: rgba(0,0,0,0.7);
		margin-bottom: 27px;
	}
	img {
		border: 9px solid #fff;
		box-shadow: 1px 0 36px rgba(0,0,0,0.15);
	}
}

.entry-meta {
	border:1px solid #ebebeb;
	border-radius: 100px;
	background:  $color__white;
	padding: 0px 30px;
	padding-bottom: 5px;
	position: absolute;
	bottom: -21px;
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	a {
		font-weight: 400;
		@include font-size(1.4);
		text-transform: uppercase;
		opacity: 0.6;
		letter-spacing: 0.05em;
		color: $color__black;
		line-height: 1.7;
		&:hover {
			color: $color__link-hover;
			text-decoration: none;
		}
	}
	.byline {
		margin-right: 25px;
		&::before {
			content: '\f007';
			@include fa-icon();
			color: $color__main;
			@include font-size(1.4);
			margin-right: 3px;
		}
	}
	.posted-on {
		&::before {
			content: '\f017';
			@include fa-icon();
			color: $color__main;
			@include font-size(1.4);
			margin-right: 5px;
		}
	}
}
.post-thumbnail {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
	img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}
.page-header {
	.post-thumbnail {
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background-color: $color__black;
			position: absolute;
			opacity: 0.5;
		}
	}
}
@media (max-width: 991px) {
	.author_bio_section {
		.container {
			flex-flow: column wrap;
		}
	}
	.entry-author {
		width: 100%;
	}
	.category-tag {
		width: 100%;
		margin-left: 100px;
	}
}
@media (max-width: 767px) {
	.post-content {
		p,
		li {
			@include font-size(1.6);
		}
	}
}
@media (max-width: 480px) {
	.author-bio.author-bio,
	.author-avatar.author-avatar,
	.author-heading.author-heading {
		float: none;
		width: 100%;
	}
	.category-tag {
		margin-left: 0;
	}
	.post-content {
		ul {
			margin: 0;
		}
	}
}