.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.post-content {
	p {
		opacity: 0.8 !important;
		margin-bottom: 40px !important;
	}
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
	display: none;
}
.pagelink {
	text-transform: uppercase;
	span {
		color: $color__main;
		margin-left: 15px;
	}
}
.pagelink p > span {
	background: rgba(0,191,243,0.15);
	padding: 5px 16px;
	border-radius: 100%;
}
.post-nav {
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background: rgba(0, 191, 243, 0.08);
	.post-navigation {
		position: relative;
		padding-top: 50px;
		padding-bottom: 30px;
		a {
			font-weight: 400;
			@include font-size(2.1);
		}
	}
}
.author_bio_section {
	background: rgba(0,191,243,0.08);
	padding: 15px;
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	margin-top: 70px;
	.site-main {
		display: flex;

	}
}
.entry-author {
	width: 57%;
	.author-avatar {
		float: left;
		margin-top: 25px;
		img {
			border-radius: 100%;
			width: 65px;
			height: 65px;
		}
	}
	.author-heading {
		margin-top: 10px;
		float: right;
		width: calc( 100% - 100px);
		.author-title {
			@include font-size(1.4);
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}
	}
	.author-bio {
		float: right;
		width: calc( 100% - 100px);
		@include font-size(1.4);
		line-height: 24px;
		font-weight: 400;
		margin-top: 0;
		.author-link {
			display: block;
			@include font-size(1.2);
			line-height: 24px;
		}
	}
}
.category-tag {
	width: 30%;
	margin-left: 35px;
	margin-top: 30px;
	.post-category {
		display: block;
	}
}

@media (max-width: 991px) {
	.author_bio_section {
		.site-main {
			flex-flow: column wrap;
		}
	}
	.entry-author {
		width: 100%;
	}
	.category-tag {
		width: 100%;
		margin-left: 100px;
	}
}
@media (max-width: 767px) {
	.post-content {
		p {
			@include font-size(1.6);
		}
	}
}
@media (max-width: 480px) {
	.author-bio,
	.author-avatar,
	.author-heading {
		float: none !important;
		width: 100% !important;
	}
	.category-tag {
		margin-left: 0;
	}
}